# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.npm-cache/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
public/testmind-logo-v2.png
public/testmind-logo-v3.png
public/testmind-logo-v3-source.png
public/testmind-logo-v4-source.png
public/testmind-logo.png
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
-e 
server/.env
server/.env.local
config.bat
